body {
   margin: 0;
   padding: 0;
}

.container {
   width: 100%;
   height: 100vh;
   background-image: url("src/images/cover.jpg");
   background-position: right;
   background-size: cover;
}

.Welcome {
   padding-top: 20px;
   margin-left: 50px;
   margin-right: 50px;
}

.Welcome h1 {
   color: white;
   padding-top: 100px;
   font-size: 50px;
   font-family: 'Ahganirya';
   src: url("src/Font/Ahganirya.otf");
}

.Welcome p {
   color: white;
   font-family: 'Inter', sans-serif;
   font-size: 18px;
}

.navbar {
   list-style: none;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: left;
   position: absolute;
}

.navbar {
   font-family: 'Inter', sans-serif;
   font-size: 15px;
}

.navbar ul {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 30px;
   padding: 0;
}

.navbar li {
   margin: 0 30px;
}

.navbar a {
   text-decoration: none;
   color: #ffffff;
   padding: 8px 12px;
}

.navbar a:hover {
   color: #fa0053;
}


.cont_text {
   width: 1000px;
   text-align: center;
   display: flex;
   flex-direction: column;
   position: relative;
}

.social-links {
   width: 1000px;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .social-links a {
   margin: 0 5px;
   display: inline-block;
 }
 


 /* Media Queries */

@media screen and (max-width: 768px) {

   .container{
      background-color: rgba(0, 0, 0, 0.9);
   }

   .cont_text {
      padding-top: 0%;
      width: 500px;
   }

   .Welcome h1 {
      font-size: 160%;
   }

   .Welcome p {
      font-size: 80%;
   }

   .navbar {
      padding-top: 15px;
      font-size: 12px;
   }

   .navbar ul {
      margin: 10px;
   }

   .navbar li {
      margin: 0 5px;
   }

   .social-links {
      width: 100%;
      padding-top: 50%;
      flex-wrap: wrap;
   }

   .social-links img {
      width: 80%;
   }
}